<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Mazing Problem</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>UserModuleSourceFilesToOpen</key>
	<array>
		<string>UserModules/Maze.playgroundmodule/Sources/Matrix.swift</string>
		<string>UserModules/Maze.playgroundmodule/Sources/Stack.swift</string>
	</array>
</dict>
</plist>
